In [1]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.1-cp38-cp38-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: numpy<2,>=1.18 in c:\users\shree123\project_end2end\venv\lib\site-packages (from statsmodels) (1.24.4)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\shree123\project_end2end\venv\lib\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in c:\users\shree123\project_end2end\venv\lib\site-packages (from statsmodels) (2.0.3)
Collecting patsy>=0.5.4 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\shree123\project_end2end\venv\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shree123\project_end2end\venv\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shree123\project_end2end\venv\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shree123\project_end2end\venv\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.4)
Requirement already satisfied: six in c:\users\shree123\project_end2end\venv\lib\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Downloading statsmodels-0.14.1-cp38-cp38-win_amd64.whl (10.0 MB)
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.0 MB 812.7 kB/s eta 0:00:13
   -- ------------------------------------- 0.6/10.0 MB 4.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.6/10.0 MB 9.0 MB/s eta 0:00:01
   ---------- ----------------------------- 2.7/10.0 MB 13.0 MB/s eta 0:00:01
   ------------- -------------------------- 3.4/10.0 MB 12.8 MB/s eta 0:00:01
   ----------------- ---------------------- 4.3/10.0 MB 14.5 MB/s eta 0:00:01
   ------------------- -------------------- 5.0/10.0 MB 14.5 MB/s eta 0:00:01
   ------------------------ --------------- 6.1/10.0 MB 15.6 MB/s eta 0:00:01
   ----------------------------- ---------- 7.5/10.0 MB 16.0 MB/s eta 0:00:01
   --------------------------------- ------ 8.4/10.0 MB 16.2 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/10.0 MB 16.6 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------- 10.0/10.0 MB 15.6 MB/s eta 0:00:00
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.9 kB ? eta -:--:--
   --------------------------------------- 233.9/233.9 kB 14.0 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.1

In [1]:
import pandas as pd

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [4]:
from catboost import CatBoostClassifier

In [1]:
from ucimlrepo import fetch_ucirepo 
default_of_credit_card_clients = fetch_ucirepo(id=350)

In [4]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
default_of_credit_card_clients = fetch_ucirepo(id=350) 
  
# data (as pandas dataframes) 
X = default_of_credit_card_clients.data.features 
y = default_of_credit_card_clients.data.targets

In [5]:
import pandas as pd
X

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1,3,1,39,0,0,0,0,0,...,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,3502,8979,5190,0,1837,3526,8998,129,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,2758,20878,20582,19357,0,0,22000,4200,2000,3100
29998,80000,1,3,1,41,1,-1,0,0,0,...,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804
29999,50000,1,2,1,46,0,0,0,0,0,...,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000